In [2]:
select top 5 * from movie_gross

movie_title,release_date,genre,mpaa_rating,total_gross,inflation_adjusted_gross
Snow White and the Seven Dwarfs,1937-12-21,Musical,G,184925485,5228953251
Pinocchio,1940-02-09,Adventure,G,84300000,2188229052
Fantasia,1940-11-13,Musical,G,83320000,2187090808
Song of the South,1946-11-12,Adventure,G,65000000,1078510579
Cinderella,1950-02-15,Drama,G,85000000,920608730

# Markdown เบื้องต้น

# สอนเขียน SQL เบื้องต้น
## คำสั่ง select
### level 3
#### level 4

# product
* Microsoft SQL Server
* MySQL
- PostgreSQL

# Product
1. Outlook
1. PowerPoint
1. Excel
1. Word
1. Access

# การใช้ html ร่วมกับ markdown

# I love <span style="color:blue">blue</span> sky.

# การขึ้นบรรทัดใหม่

hello from 

the other side

hello from  
the other side  
the shape of you

# การทำตัวหนา เอียง และอื่น ๆ

# Product
1. Outlook <i>office 365</i>
1. ## Project <u>office <span style="color:green">365</span></u>
1. ### *PowerPoint* 2016
1. **Excel** 2019
1. ***Word*** office 365
1. ~~Access~~