# date functions (YEAR, MONTH, DAY, DATEPART, DATENAME, FORMAT)
## Server: Microsoft SQL Server
## Database: disney
## Author: Prasert Kanawatanachai
## YouTube: https://youtu.be/EzaziQffXPk

```
SELECT [ ALL | DISTINCT ]   
    [TOP ( expression ) [PERCENT] [ WITH TIES ] ]   
	FROM table_source 
	[ WHERE search_condition ]
	[ GROUP BY group_by_expression ]
	[ HAVING search_condition ]
	[ ORDER BY order_expression [ ASC | DESC ] ]
```

In [2]:
select top 5 
    release_date,
    year(release_date) year,
    month(release_date) month,
    day(release_date) day
    from movie_gross

release_date,year,month,day
1937-12-21,1937,12,21
1940-02-09,1940,2,9
1940-11-13,1940,11,13
1946-11-12,1946,11,12
1950-02-15,1950,2,15

## DATEPART(), DATENAME() 
* [DATEPART](https://docs.microsoft.com/en-us/sql/t-sql/functions/datepart-transact-sql?view=sql-server-2017)
* [DATENAME](https://docs.microsoft.com/en-us/sql/t-sql/functions/datename-transact-sql?view=sql-server-2017)

In [3]:
select top 5 
    release_date,
    datepart(year, release_date) year,
    datepart(month, release_date) month,
    datepart(day, release_date) day,
    datepart(week, release_date) week_number,
    datepart(weekday, release_date) weekday,
    datename(weekday, release_date) week_name,
    datename(month, release_date) month_name
    from movie_gross

release_date,year,month,day,week_number,weekday,week_name,month_name
1937-12-21,1937,12,21,52,3,Tuesday,December
1940-02-09,1940,2,9,6,6,Friday,February
1940-11-13,1940,11,13,46,4,Wednesday,November
1946-11-12,1946,11,12,46,3,Tuesday,November
1950-02-15,1950,2,15,7,4,Wednesday,February

## FORMAT()
* [FORMAT](https://docs.microsoft.com/en-us/sql/t-sql/functions/format-transact-sql?view=sql-server-2017)

In [4]:
select top 10 
    release_date,
    format(release_date, 'd', 'th') as 'd-th',
    format(release_date, 'dd', 'th') as 'dd-th',
    format(release_date, 'ddd', 'th') as 'ddd-th',
    format(release_date, 'dddd', 'th') as 'dddd-th',
    format(release_date, 'M', 'th') as 'M-th',
    format(release_date, 'MM', 'th') as 'MM-th',
    format(release_date, 'MMM', 'th') as 'MMM-th',
    format(release_date, 'MMMM', 'th') as 'MMMM-th'
    from movie_gross

release_date,d-th,dd-th,ddd-th,dddd-th,M-th,MM-th,MMM-th,MMMM-th
1937-12-21,21/12/2480,21,อ.,อังคาร,21 ธันวาคม,12,ธ.ค.,ธันวาคม
1940-02-09,9/2/2483,09,ศ.,ศุกร์,9 กุมภาพันธ์,02,ก.พ.,กุมภาพันธ์
1940-11-13,13/11/2483,13,พ.,พุธ,13 พฤศจิกายน,11,พ.ย.,พฤศจิกายน
1946-11-12,12/11/2489,12,อ.,อังคาร,12 พฤศจิกายน,11,พ.ย.,พฤศจิกายน
1950-02-15,15/2/2493,15,พ.,พุธ,15 กุมภาพันธ์,02,ก.พ.,กุมภาพันธ์
1954-12-23,23/12/2497,23,พฤ.,พฤหัสบดี,23 ธันวาคม,12,ธ.ค.,ธันวาคม
1955-06-22,22/6/2498,22,พ.,พุธ,22 มิถุนายน,06,มิ.ย.,มิถุนายน
1959-01-29,29/1/2502,29,พฤ.,พฤหัสบดี,29 มกราคม,01,ม.ค.,มกราคม
1961-01-25,25/1/2504,25,พ.,พุธ,25 มกราคม,01,ม.ค.,มกราคม
1961-03-16,16/3/2504,16,พฤ.,พฤหัสบดี,16 มีนาคม,03,มี.ค.,มีนาคม

In [5]:
select top 10 
    release_date,
    format(release_date, 'd', 'en') as 'd-en',
    format(release_date, 'dd', 'en') as 'dd-en',
    format(release_date, 'ddd', 'en') as 'ddd-en',
    format(release_date, 'dddd', 'en') as 'dddd-en',
    format(release_date, 'M', 'en') as 'M-en',
    format(release_date, 'MM', 'en') as 'MM-en',
    format(release_date, 'MMM', 'en') as 'MMM-en',
    format(release_date, 'MMMM', 'en') as 'MMMM-en'
    from movie_gross

release_date,d-en,dd-en,ddd-en,dddd-en,M-en,MM-en,MMM-en,MMMM-en
1937-12-21,12/21/1937,21,Tue,Tuesday,December 21,12,Dec,December
1940-02-09,2/9/1940,09,Fri,Friday,February 9,02,Feb,February
1940-11-13,11/13/1940,13,Wed,Wednesday,November 13,11,Nov,November
1946-11-12,11/12/1946,12,Tue,Tuesday,November 12,11,Nov,November
1950-02-15,2/15/1950,15,Wed,Wednesday,February 15,02,Feb,February
1954-12-23,12/23/1954,23,Thu,Thursday,December 23,12,Dec,December
1955-06-22,6/22/1955,22,Wed,Wednesday,June 22,06,Jun,June
1959-01-29,1/29/1959,29,Thu,Thursday,January 29,01,Jan,January
1961-01-25,1/25/1961,25,Wed,Wednesday,January 25,01,Jan,January
1961-03-16,3/16/1961,16,Thu,Thursday,March 16,03,Mar,March

In [6]:
select top 10 
    release_date,
    format(release_date, 'd', 'fr') as 'd-fr',
    format(release_date, 'dd', 'fr') as 'dd-fr',
    format(release_date, 'ddd', 'fr') as 'ddd-fr',
    format(release_date, 'dddd', 'fr') as 'dddd-fr',
    format(release_date, 'M', 'fr') as 'M',
    format(release_date, 'MM', 'fr') as 'MM',
    format(release_date, 'MMM', 'fr') as 'MMM',
    format(release_date, 'MMMM', 'fr') as 'MMMM'
    from movie_gross

release_date,d-fr,dd-fr,ddd-fr,dddd-fr,M,MM,MMM,MMMM
1937-12-21,21/12/1937,21,mar.,mardi,21 décembre,12,déc.,décembre
1940-02-09,09/02/1940,09,ven.,vendredi,9 février,02,févr.,février
1940-11-13,13/11/1940,13,mer.,mercredi,13 novembre,11,nov.,novembre
1946-11-12,12/11/1946,12,mar.,mardi,12 novembre,11,nov.,novembre
1950-02-15,15/02/1950,15,mer.,mercredi,15 février,02,févr.,février
1954-12-23,23/12/1954,23,jeu.,jeudi,23 décembre,12,déc.,décembre
1955-06-22,22/06/1955,22,mer.,mercredi,22 juin,06,juin,juin
1959-01-29,29/01/1959,29,jeu.,jeudi,29 janvier,01,janv.,janvier
1961-01-25,25/01/1961,25,mer.,mercredi,25 janvier,01,janv.,janvier
1961-03-16,16/03/1961,16,jeu.,jeudi,16 mars,03,mars,mars

In [7]:
select top 10
    release_date,
    format(release_date, 'ddd', 'en') weekday
    from movie_gross

release_date,weekday
1937-12-21,Tue
1940-02-09,Fri
1940-11-13,Wed
1946-11-12,Tue
1950-02-15,Wed
1954-12-23,Thu
1955-06-22,Wed
1959-01-29,Thu
1961-01-25,Wed
1961-03-16,Thu

In [8]:
select 
    format(release_date, 'ddd', 'en') weekday,
    count(*) no_movies
    from movie_gross
    group by format(release_date, 'ddd', 'en')
    order by count(*) desc

weekday,no_movies
Fri,464
Wed,75
Thu,20
Tue,9
Sat,7
Sun,4

In [1]:
select 
    format(release_date, 'MMM', 'en') month,
    count(*) no_movies
    from movie_gross
    group by format(release_date, 'MMM', 'en')
    order by count(*) desc

month,no_movies
Mar,61
Nov,59
Oct,50
Jun,50
Apr,50
Dec,50
Aug,49
Feb,44
Jul,44
Sep,43
May,41
Jan,38