# NULL, IS NULL, IS NOT NULL, ISNULL()
## Server: Microsoft SQL Server
## Database: disney
## Author: Prasert Kanawattanachai
## YouTube: https://youtu.be/Q8ggugmmOtM

In [1]:
select top 10 * from revenue

year,studio_entertainment,disney_consumer_products,disney_interactive,walt_disney_parks_and_resorts,disney_media_networks,total
1991,2593,724,NULL,2794,NULL,6111
1992,3115,1081,NULL,3306,NULL,7502
1993,3673.4,1415.1,NULL,3440.7,NULL,8529
1994,4793,1798.2,NULL,3463.6,359,10414
1995,6001.5,2150,NULL,3959.8,414,12525
1996,NULL,NULL,NULL,4502,4142,18739
1997,6981,3782,174,5014,6522,22473
1998,6849,3193,260,5532,7142,22976
1999,6548,3030,206,6106,7512,23402
2000,5994,2602,368,6803,9615,25402

In [2]:
select top 10 year,
    studio_entertainment +
    disney_consumer_products +
    disney_interactive +
    walt_disney_parks_and_resorts + disney_media_networks [total revenue],
    total
    from revenue

year,total revenue,total
1991,NULL,6111
1992,NULL,7502
1993,NULL,8529
1994,NULL,10414
1995,NULL,12525
1996,NULL,18739
1997,22473,22473
1998,22976,22976
1999,23402,23402
2000,25382,25402

## ISNULL()

In [3]:
select 5 + 0, 5 + NULL, isnull(NULL, 0), isnull(7, 0)

(No column name),(No column name),(No column name),(No column name)
5,NULL,0,7

In [4]:
select top 10 year,
    isnull(studio_entertainment,0) +
    isnull(disney_consumer_products,0) +
    isnull(disney_interactive,0) +
    isnull(walt_disney_parks_and_resorts,0) + 
    isnull(disney_media_networks,0) [total revenue],
    total
    from revenue

year,total revenue,total
1991,6111,6111
1992,7502,7502
1993,8529.2,8529
1994,10413.8,10414
1995,12525.3,12525
1996,8644,18739
1997,22473,22473
1998,22976,22976
1999,23402,23402
2000,25382,25402

In [5]:
select * from revenue

year,studio_entertainment,disney_consumer_products,disney_interactive,walt_disney_parks_and_resorts,disney_media_networks,total
1991,2593,724,NULL,2794,NULL,6111
1992,3115,1081,NULL,3306,NULL,7502
1993,3673.4,1415.1,NULL,3440.7,NULL,8529
1994,4793,1798.2,NULL,3463.6,359,10414
1995,6001.5,2150,NULL,3959.8,414,12525
1996,NULL,NULL,NULL,4502,4142,18739
1997,6981,3782,174,5014,6522,22473
1998,6849,3193,260,5532,7142,22976
1999,6548,3030,206,6106,7512,23402
2000,5994,2602,368,6803,9615,25402
2001,7004,2590,NULL,6009,9569,25790
2002,6465,2440,NULL,6691,9733,25360
2003,7364,2344,NULL,6412,10941,27061
2004,8713,2511,NULL,7750,11778,30752
2005,7587,2127,NULL,9023,13207,31944
2006,7529,2193,NULL,9925,14368,34285
2007,7491,2347,NULL,10626,15046,35510
2008,7348,2415,719,11504,15857,37843
2009,6136,2425,712,10667,16209,36149
2010,6701,2678,761,10761,17162,38063
2011,6351,3049,982,11797,18714,40893
2012,5825,3252,845,12920,19436,42278
2013,5979,3555,1064,14087,20356,45041
2014,7278,3985,1299,15099,21152,48813
2015,7366,4499,1174,16162,23264,52465
2016,9441,NULL,NULL,16974,23689,55632

## COUNT(*) vs. COUNT(column_name)

In [6]:
select count(*), count(disney_media_networks) from revenue

(No column name),(No column name)
26,23

In [7]:
select count(*) from revenue where disney_media_networks is null

(No column name)
3

In [8]:
select count(*) from revenue where disney_media_networks is not null

(No column name)
23

In [9]:
select sum(disney_media_networks) [sum], 
    count(*) [all_rows], 
    count(disney_media_networks) [count], 
    sum(disney_media_networks) / count(disney_media_networks) [avg_1],
    avg(disney_media_networks) [avg_2] 
    from revenue

sum,all_rows,count,avg_1,avg_2
296187,26,23,12877.6956521739,12877.6956521739