# SUBQUERY
## Server: Microsoft SQL Server
## Database: disney
## Author: Prasert Kanawatanachai
## YouTube: https://youtu.be/Q0rBOyax2eY

In [12]:
select movie_title, total_gross from movie_gross
    where year(release_date) = 2016

movie_title,total_gross
The Finest Hours,27569558
Zootopia,341268248
The Jungle Book,364001123
A Beautiful Planet,7895708
Captain America: Civil War,408084349
Alice Through the Looking Glass,77042381
Finding Dory,486295561
The BFG,55483770
Pete’s Dragon,76233151
The Light Between Oceans,12545979
Queen of Katwe,8874389
Doctor Strange,232532923
Moana,246082029
Rogue One: A Star Wars Story,529483936

In [13]:
select sum(total_gross) from movie_gross
    where year(release_date) = 2016

(No column name)
2873393105

## รายได้หนังแต่ละเรื่องในปี 2016 เป็นกี % ของรายได้รวมทั้งปี

In [14]:
select movie_title, 
    total_gross,
    total_gross / 2873393105
    from movie_gross
    where year(release_date) = 2016

movie_title,total_gross,(No column name)
The Finest Hours,27569558,0.00959477418
Zootopia,341268248,0.11876838132
The Jungle Book,364001123,0.12667989018
A Beautiful Planet,7895708,0.00274786905
Captain America: Civil War,408084349,0.14202176106
Alice Through the Looking Glass,77042381,0.02681233586
Finding Dory,486295561,0.16924087419
The BFG,55483770,0.01930949507
Pete’s Dragon,76233151,0.02653070715
The Light Between Oceans,12545979,0.00436625917
Queen of Katwe,8874389,0.00308847020
Doctor Strange,232532923,0.08092624799
Moana,246082029,0.08564161602
Rogue One: A Star Wars Story,529483936,0.18427131849

In [15]:
select movie_title, genre,
    total_gross,
    (select sum(total_gross) from movie_gross where year(release_date) = 2016) [total gross 2016],
    total_gross / 2873393105,
    (total_gross * 1.0 / (select sum(total_gross) from movie_gross where year(release_date) = 2016)) [% of total gross]
    from movie_gross
    where year(release_date) = 2016

movie_title,genre,total_gross,total gross 2016,(No column name),% of total gross
The Finest Hours,Thriller/Suspense,27569558,2873393105,0.00959477418,0.00959477418945083
Zootopia,Adventure,341268248,2873393105,0.11876838132,0.11876838132803969
The Jungle Book,Adventure,364001123,2873393105,0.12667989018,0.12667989018509181
A Beautiful Planet,Documentary,7895708,2873393105,0.00274786905,0.00274786905636428
Captain America: Civil War,Action,408084349,2873393105,0.14202176106,0.14202176106356321
Alice Through the Looking Glass,Adventure,77042381,2873393105,0.02681233586,0.02681233586380447
Finding Dory,Adventure,486295561,2873393105,0.16924087419,0.16924087419636235
The BFG,Adventure,55483770,2873393105,0.01930949507,0.01930949507168111
Pete’s Dragon,Adventure,76233151,2873393105,0.02653070715,0.02653070715153678
The Light Between Oceans,Drama,12545979,2873393105,0.00436625917,0.00436625917218521
Queen of Katwe,Drama,8874389,2873393105,0.00308847020,0.00308847020776852
Doctor Strange,Adventure,232532923,2873393105,0.08092624799,0.08092624799418108
Moana,Adventure,246082029,2873393105,0.08564161602,0.08564161602942246
Rogue One: A Star Wars Story,Adventure,529483936,2873393105,0.18427131849,0.18427131849054812

## ในปี 2016 หนังเรื่องใดที่สร้างรายได้สูงกว่ารายได้เฉลี่ย

In [16]:
select movie_title, genre, total_gross, 
    (select avg(total_gross) from movie_gross where year(release_date) = 2016)
    from movie_gross
    where year(release_date) = 2016 and 
        total_gross > (select avg(total_gross) from movie_gross where year(release_date) = 2016)

movie_title,genre,total_gross,(No column name)
Zootopia,Adventure,341268248,205242364
The Jungle Book,Adventure,364001123,205242364
Captain America: Civil War,Action,408084349,205242364
Finding Dory,Adventure,486295561,205242364
Doctor Strange,Adventure,232532923,205242364
Moana,Adventure,246082029,205242364
Rogue One: A Star Wars Story,Adventure,529483936,205242364