# concatenate: CONCAT()
## Server: Microsoft SQL Server
## Database: disney
## Author: Prasert Kanawattanachai
## YouTube: https://youtu.be/oYeRMxmnUf8

In [1]:
select top 10 * from movie_gross

movie_title,release_date,genre,mpaa_rating,total_gross,inflation_adjusted_gross
Snow White and the Seven Dwarfs,1937-12-21,Musical,G,184925485,5228953251
Pinocchio,1940-02-09,Adventure,G,84300000,2188229052
Fantasia,1940-11-13,Musical,G,83320000,2187090808
Song of the South,1946-11-12,Adventure,G,65000000,1078510579
Cinderella,1950-02-15,Drama,G,85000000,920608730
"20,000 Leagues Under the Sea",1954-12-23,Adventure,NULL,28200000,528279994
Lady and the Tramp,1955-06-22,Drama,G,93600000,1236035515
Sleeping Beauty,1959-01-29,Drama,NULL,9464608,21505832
101 Dalmatians,1961-01-25,Comedy,G,153000000,1362870985
The Absent Minded Professor,1961-03-16,Comedy,NULL,25381407,310094574

In [3]:
select top 5 movie_title + ' ' + genre
    from movie_gross

(No column name)
Snow White and the Seven Dwarfs Musical
Pinocchio Adventure
Fantasia Musical
Song of the South Adventure
Cinderella Drama

In [4]:
select top 5 movie_title + ' (' + genre + ')'
    from movie_gross

(No column name)
Snow White and the Seven Dwarfs (Musical)
Pinocchio (Adventure)
Fantasia (Musical)
Song of the South (Adventure)
Cinderella (Drama)

In [5]:
select top 5 movie_title + release_date 
    from movie_gross

: Msg 402, Level 16, State 1, Line 1
The data types varchar and date are incompatible in the add operator.

In [8]:
select top 5 
    concat(movie_title, ' (', release_date, ')'),
    concat(movie_title, ' (', year(release_date), ')') 
    from movie_gross

(No column name),(No column name)
Snow White and the Seven Dwarfs (1937-12-21),Snow White and the Seven Dwarfs (1937)
Pinocchio (1940-02-09),Pinocchio (1940)
Fantasia (1940-11-13),Fantasia (1940)
Song of the South (1946-11-12),Song of the South (1946)
Cinderella (1950-02-15),Cinderella (1950)

In [15]:
select top 5 
    movie_title, total_gross,
    concat(movie_title, ' (', total_gross, ')'),
    concat(movie_title, ' (', format(total_gross, 'N0'), ')'),
    concat(movie_title, ' (', format(total_gross, '#,##0 USD'), ')')
    from movie_gross

movie_title,total_gross,(No column name),(No column name),(No column name)
Snow White and the Seven Dwarfs,184925485,Snow White and the Seven Dwarfs (184925485),"Snow White and the Seven Dwarfs (184,925,485)","Snow White and the Seven Dwarfs (184,925,485 USD)"
Pinocchio,84300000,Pinocchio (84300000),"Pinocchio (84,300,000)","Pinocchio (84,300,000 USD)"
Fantasia,83320000,Fantasia (83320000),"Fantasia (83,320,000)","Fantasia (83,320,000 USD)"
Song of the South,65000000,Song of the South (65000000),"Song of the South (65,000,000)","Song of the South (65,000,000 USD)"
Cinderella,85000000,Cinderella (85000000),"Cinderella (85,000,000)","Cinderella (85,000,000 USD)"