# WHERE vs. HAVING
## Server: Microsoft SQL Server
## Database: disney
## Author: Prasert Kanawattanachai
## YouTube: https://youtu.be/2w54NthhBbQ

```
SELECT [ ALL | DISTINCT ]   
    [TOP ( expression ) [PERCENT] [ WITH TIES ] ]   
	FROM table_source 
	[ WHERE search_condition ]
	[ GROUP BY group_by_expression ]
	[ HAVING search_condition ]
	[ ORDER BY order_expression [ ASC | DESC ] ]
```

In [14]:
select * from movie_gross
    where inflation_adjusted_gross > 500e6

movie_title,release_date,genre,mpaa_rating,total_gross,inflation_adjusted_gross
Snow White and the Seven Dwarfs,1937-12-21,Musical,G,184925485,5228953251
Pinocchio,1940-02-09,Adventure,G,84300000,2188229052
Fantasia,1940-11-13,Musical,G,83320000,2187090808
Song of the South,1946-11-12,Adventure,G,65000000,1078510579
Cinderella,1950-02-15,Drama,G,85000000,920608730
"20,000 Leagues Under the Sea",1954-12-23,Adventure,NULL,28200000,528279994
Lady and the Tramp,1955-06-22,Drama,G,93600000,1236035515
101 Dalmatians,1961-01-25,Comedy,G,153000000,1362870985
The Jungle Book,1967-10-18,Musical,Not Rated,141843000,789612346
The Lion King,1994-06-15,Adventure,G,422780140,761640898
Finding Nemo,2003-05-30,Adventure,G,380529370,518148559
Pirates of the Caribbean: Dead Man’…,2006-07-07,Adventure,PG-13,423315812,544817142
The Avengers,2012-05-04,Action,PG-13,623279547,660081224
Star Wars Ep. VII: The Force Awakens,2015-12-18,Adventure,PG-13,936662225,936662225
Rogue One: A Star Wars Story,2016-12-16,Adventure,PG-13,529483936,529483936

In [15]:
select genre, count(*) no_movies
    from movie_gross
    group by genre

genre,no_movies
NULL,17
Action,40
Adventure,129
Black Comedy,3
Comedy,182
Concert/Performance,2
Documentary,16
Drama,114
Horror,6
Musical,16
Romantic Comedy,23
Thriller/Suspense,24
Western,7

In [16]:
select genre, count(*) no_movies
    from movie_gross
    group by genre
    having count(*) > 100

genre,no_movies
Adventure,129
Comedy,182
Drama,114

In [17]:
select count(*) no_movies
    from movie_gross
    where year(release_date) > 2000

no_movies
239

In [18]:
select year(release_date) year, count(*) no_movies
    from movie_gross
    where year(release_date) > 2000
    group by year(release_date)

year,no_movies
2001,14
2002,22
2003,19
2004,19
2005,17
2006,19
2007,14
2008,13
2009,16
2010,14
2011,14
2012,10
2013,11
2014,12
2015,11
2016,14

In [19]:
select year(release_date) year, count(*) no_movies
    from movie_gross
    -- where year(release_date) > 2000
    group by year(release_date)
    having year(release_date) > 2000

year,no_movies
2001,14
2002,22
2003,19
2004,19
2005,17
2006,19
2007,14
2008,13
2009,16
2010,14
2011,14
2012,10
2013,11
2014,12
2015,11
2016,14

In [20]:
select year(release_date) year, count(*) no_movies
    from movie_gross
    where year(release_date) > 2000
    group by year(release_date)
    having count(*) > 15
    order by no_movies desc

year,no_movies
2002,22
2003,19
2004,19
2006,19
2005,17
2009,16

In [22]:
select year(release_date) year, count(*) no_movies
    from movie_gross
    -- where year(release_date) > 2000
    group by year(release_date)
    having count(*) > 15 and year(release_date) > 2000
    order by no_movies desc

year,no_movies
2002,22
2003,19
2004,19
2006,19
2005,17
2009,16