# Math operators and functions
## Server: Microsoft SQL Server
## Database: disney
## Author: Prasert Kanawattanachai
## YouTube: https://youtu.be/I3I04ZXSLb8

In [1]:
select top 5
    movie_title, inflation_adjusted_gross [USD],
    inflation_adjusted_gross * 31 [THB]
    from movie_gross

movie_title,USD,THB
Snow White and the Seven Dwarfs,5228953251,162097550781
Pinocchio,2188229052,67835100612
Fantasia,2187090808,67799815048
Song of the South,1078510579,33433827949
Cinderella,920608730,28538870630

In [2]:
select 7 + 5 [add],
    7-5 [subtract],
    7*5 [multiply],
    7/5 [divide], -- int / int -> int
    7.0/5 [divide2], -- decimal / int -> decimal
    7/5.0 [divide3], -- decimal / int -> decimal
    7 * 1.0 / 5 [divide4] -- decimal / int -> decimal

add,subtract,multiply,divide,divide2,divide3,divide4
12,2,35,1,1.400000,1.400000,1.400000

In [3]:
select 2 + 3 - 4 * 5,
    2 + 3 - (4 * 5),
    2 + 3 - 20

(No column name),(No column name),(No column name)
-15,-15,-15

In [4]:
select 2 + 3 - 4 * 5 / 6,
    2 + 3 - 4 * 5.0 / 6,
    2 + 3 - 20.0 / 6,
    2 + 3 - (20.0 / 6)

(No column name),(No column name),(No column name),(No column name)
2,1.666667,1.666667,1.666667

In [5]:
select power(2, 3), -- 2 ยกกำลัง 3
    power(2, 1/2.0), -- 2 ยกกำลัง 1/2
    power(2.0, 1/2.0)

(No column name),(No column name),(No column name)
8,1,1.4

In [6]:
select 8.0 / 2 * (2 + 2),
    8.0 / 2 * 4,
    (8.0 / 2) * 4

(No column name),(No column name),(No column name)
16.000000,16.000000,16.000000

In [7]:
select pi(), sqrt(2), power(2.0, .5)

(No column name),(No column name),(No column name)
3.14159265358979,1.4142135623731,1.4

In [8]:
-- 2^n = 5
-- nlog(2) = log(5)
-- n = log(5) / log(2)
select log(5) / log(2), power(2.0, log(5)/log(2))

(No column name),(No column name)
2.32192809488736,5.0

In [9]:
select 7 / 5, 7.0 / 5, 7 / 5.0, 7 % 5 [mod]

(No column name),(No column name),(No column name),mod
1,1.400000,1.400000,2

In [10]:
-- ตรวจสอบเลขคู่หรือคี่ (n mod 2 ได้ 0 จะเป็นเลขคู่)
select 7 % 2

(No column name)
1

In [11]:
-- หาปีอธิกสุรทิน ปีที่เดือนกุมภาพันธ์มี 29 วัน หรือทั้งปีมี 366 วัน
-- ปี ค.ศ. ที่ mod 4 แล้วเศษเป็น 0
select 2020 % 4

(No column name)
0