# Time differences
## Server: Microsoft SQL Server
## Author: Prasert Kanawattanachai
## YouTube: https://youtu.be/e50Xts7VBsY

In [12]:
select getdate(), 
    convert(datetime, '2019-9-14 13:15') as aaa, 
    cast('2018-03-04' as datetime) as bbb,
    cast('2018-03-04 7:00' as datetime) as ccc

(No column name),aaa,bbb,ccc
2019-09-15 00:35:54.520,2019-09-14 13:15:00.000,2018-03-04 00:00:00.000,2018-03-04 07:00:00.000

## หาผลต่างของเวลาเป็นกี่ชั่วกับอีกกี่นาที

In [13]:
select cast('2019-9-14 10:35' as datetime) in_time, cast('2019-9-14 11:40' as datetime) out_time,
    datediff(minute, cast('2019-9-14 10:35' as datetime), cast('2019-9-14 11:40' as datetime)),
    datediff(minute, cast('2019-9-14 10:35' as datetime), cast('2019-9-14 11:40' as datetime)) / 60 hh,
    datediff(minute, cast('2019-9-14 10:35' as datetime), cast('2019-9-14 11:40' as datetime)) % 60 mm

in_time,out_time,(No column name),hh,mm
2019-09-14 10:35:00.000,2019-09-14 11:40:00.000,65,1,5

## สร้างตารางเก็บข้อมูลเวลาเข้าและออกของการจอดรถ

In [14]:
drop table if exists car_park;

create table car_park (
    plate_num nvarchar(8),
    in_time datetime,
    out_time datetime
);

In [15]:
insert into car_park values 
    (N'กก 1234', '2019-10-20 11:00', '2019-10-20 13:00'),
    (N'กข 1234', '2019-10-20 11:00', '2019-10-20 11:10'),
    (N'ขข 4711', '2019-10-20 11:50', '2019-10-20 13:00'),
    (N'นน 21', '2019-10-20 13:50', '2019-10-20 14:25'),
    (N'พอ 9999', '2019-10-20 13:50', '2019-10-20 15:10'),
    (N'ออ 1122', '2019-10-20 13:50', '2019-10-23 15:10')

In [16]:
select * from car_park

plate_num,in_time,out_time
กก 1234,2019-10-20 11:00:00.000,2019-10-20 13:00:00.000
กข 1234,2019-10-20 11:00:00.000,2019-10-20 11:10:00.000
ขข 4711,2019-10-20 11:50:00.000,2019-10-20 13:00:00.000
นน 21,2019-10-20 13:50:00.000,2019-10-20 14:25:00.000
พอ 9999,2019-10-20 13:50:00.000,2019-10-20 15:10:00.000
ออ 1122,2019-10-20 13:50:00.000,2019-10-23 15:10:00.000

In [17]:
insert into car_park values ('ฐฐ 7777', '2019-10-20 11:00', '2019-10-20 13:00')

In [18]:
select * from car_park

plate_num,in_time,out_time
กก 1234,2019-10-20 11:00:00.000,2019-10-20 13:00:00.000
กข 1234,2019-10-20 11:00:00.000,2019-10-20 11:10:00.000
ขข 4711,2019-10-20 11:50:00.000,2019-10-20 13:00:00.000
นน 21,2019-10-20 13:50:00.000,2019-10-20 14:25:00.000
พอ 9999,2019-10-20 13:50:00.000,2019-10-20 15:10:00.000
ออ 1122,2019-10-20 13:50:00.000,2019-10-23 15:10:00.000
?? 7777,2019-10-20 11:00:00.000,2019-10-20 13:00:00.000

In [19]:
insert into car_park values (N'มม 8888', '2019-10-20 11:00', '2019-10-20 13:00')

In [20]:
select * from car_park

plate_num,in_time,out_time
กก 1234,2019-10-20 11:00:00.000,2019-10-20 13:00:00.000
กข 1234,2019-10-20 11:00:00.000,2019-10-20 11:10:00.000
ขข 4711,2019-10-20 11:50:00.000,2019-10-20 13:00:00.000
นน 21,2019-10-20 13:50:00.000,2019-10-20 14:25:00.000
พอ 9999,2019-10-20 13:50:00.000,2019-10-20 15:10:00.000
ออ 1122,2019-10-20 13:50:00.000,2019-10-23 15:10:00.000
?? 7777,2019-10-20 11:00:00.000,2019-10-20 13:00:00.000
มม 8888,2019-10-20 11:00:00.000,2019-10-20 13:00:00.000

## คำนวณค่าจอดรถ
* อัตราค่าจอดรถชั่วโมงละ 10 บาท
* เศษของนาทีที่เกิน 15 นาทีจะคิดเป็น 1 ชั่วโมง

In [21]:
-- 10 baht/hour
select plate_num,
    in_time, out_time,
    datediff(minute, in_time, out_time),
    datediff(minute, in_time, out_time) / 60 hours,
    datediff(minute, in_time, out_time) % 60 mins,
    iif(datediff(minute, in_time, out_time) % 60 > 15, 10, 0) [iif],
    datediff(minute, in_time, out_time) / 60 * 10 + iif(datediff(minute, in_time, out_time) % 60 > 15, 10, 0) fee
    from car_park

plate_num,in_time,out_time,(No column name),hours,mins,iif,fee
กก 1234,2019-10-20 11:00:00.000,2019-10-20 13:00:00.000,120,2,0,0,20
กข 1234,2019-10-20 11:00:00.000,2019-10-20 11:10:00.000,10,0,10,0,0
ขข 4711,2019-10-20 11:50:00.000,2019-10-20 13:00:00.000,70,1,10,0,10
นน 21,2019-10-20 13:50:00.000,2019-10-20 14:25:00.000,35,0,35,10,10
พอ 9999,2019-10-20 13:50:00.000,2019-10-20 15:10:00.000,80,1,20,10,20
ออ 1122,2019-10-20 13:50:00.000,2019-10-23 15:10:00.000,4400,73,20,10,740
?? 7777,2019-10-20 11:00:00.000,2019-10-20 13:00:00.000,120,2,0,0,20
มม 8888,2019-10-20 11:00:00.000,2019-10-20 13:00:00.000,120,2,0,0,20

## การสร้างตัวแปรด้วย declare @varname datatype = value

In [22]:
-- 10 baht/hour
declare @rate int = 10

select plate_num,
    in_time, out_time,
    format(out_time, 'yy-MM-dd hh:mm tt') out_time_am_pm,
    format(out_time, 'yy-MM-dd HH:mm') out_time24,
    datediff(minute, in_time, out_time) total_minutes,
    datediff(minute, in_time, out_time) / 60 hours,
    datediff(minute, in_time, out_time) % 60 mins,
    iif(datediff(minute, in_time, out_time) % 60 > 15, @rate, 0) [iif],
    datediff(minute, in_time, out_time) / 60 * @rate + iif(datediff(minute, in_time, out_time) % 60 > 15, @rate, 0) fee
    from car_park

plate_num,in_time,out_time,out_time_am_pm,out_time24,total_minutes,hours,mins,iif,fee
กก 1234,2019-10-20 11:00:00.000,2019-10-20 13:00:00.000,19-10-20 01:00 PM,19-10-20 13:00,120,2,0,0,20
กข 1234,2019-10-20 11:00:00.000,2019-10-20 11:10:00.000,19-10-20 11:10 AM,19-10-20 11:10,10,0,10,0,0
ขข 4711,2019-10-20 11:50:00.000,2019-10-20 13:00:00.000,19-10-20 01:00 PM,19-10-20 13:00,70,1,10,0,10
นน 21,2019-10-20 13:50:00.000,2019-10-20 14:25:00.000,19-10-20 02:25 PM,19-10-20 14:25,35,0,35,10,10
พอ 9999,2019-10-20 13:50:00.000,2019-10-20 15:10:00.000,19-10-20 03:10 PM,19-10-20 15:10,80,1,20,10,20
ออ 1122,2019-10-20 13:50:00.000,2019-10-23 15:10:00.000,19-10-23 03:10 PM,19-10-23 15:10,4400,73,20,10,740
?? 7777,2019-10-20 11:00:00.000,2019-10-20 13:00:00.000,19-10-20 01:00 PM,19-10-20 13:00,120,2,0,0,20
มม 8888,2019-10-20 11:00:00.000,2019-10-20 13:00:00.000,19-10-20 01:00 PM,19-10-20 13:00,120,2,0,0,20