# GROUP BY ROLLUP()
## Server: Microsoft SQL Server
## Author: Prasert Kanawattanachai
## YouTube: https://youtu.be/z9_kTtzs69Y

In [7]:
select top 20 * from daily_sales;

menu,dt,revenue
coffee,2018-01-01,20159
tea,2018-01-01,17818
coffee,2018-01-02,22023
tea,2018-01-02,18058
coffee,2018-01-03,7760
tea,2018-01-03,6893
coffee,2018-01-04,24526
tea,2018-01-04,17667
coffee,2018-01-05,15177
tea,2018-01-05,8150
coffee,2018-01-06,14111
tea,2018-01-06,18208
coffee,2018-01-07,9343
tea,2018-01-07,12813
coffee,2018-01-08,11293
tea,2018-01-08,11341
coffee,2018-01-09,22890
tea,2018-01-09,11598
coffee,2018-01-10,23291
tea,2018-01-10,11156

In [8]:
select datepart(month, dt) month, sum(revenue) 
    from daily_sales 
    group by datepart(month, dt)
    order by month

month,(No column name)
1,1738017
2,1720871
3,1864252
4,1779423
5,1755863
6,1857156
7,1770047
8,1838443
9,1838227
10,1801060
11,1739432
12,1917466

In [9]:
select null, sum(revenue) 
    from daily_sales

(No column name),(No column name)
NULL,21620257

In [10]:
select datepart(month, dt) month, sum(revenue) 
    from daily_sales 
    group by datepart(month, dt)
union
select null, sum(revenue) 
    from daily_sales 
order by month

month,(No column name)
NULL,21620257
1,1738017
2,1720871
3,1864252
4,1779423
5,1755863
6,1857156
7,1770047
8,1838443
9,1838227
10,1801060
11,1739432
12,1917466

In [11]:
select datepart(year, dt) year, datepart(quarter, dt) quarter, datepart(month, dt) month, sum(revenue) total
    from daily_sales 
    group by rollup(datepart(year, dt), datepart(quarter, dt), datepart(month, dt))
    order by year, quarter, month

year,quarter,month,total
NULL,NULL,NULL,21620257
2018,NULL,NULL,10779009
2018,1,NULL,2683932
2018,1,1,918772
2018,1,2,831727
2018,1,3,933433
2018,2,NULL,2706863
2018,2,4,875663
2018,2,5,887544
2018,2,6,943656
2018,3,NULL,2696377
2018,3,7,896094
2018,3,8,884056
2018,3,9,916227
2018,4,NULL,2691837
2018,4,10,864026
2018,4,11,877734
2018,4,12,950077
2019,NULL,NULL,10841248
2019,1,NULL,2639208
2019,1,1,819245
2019,1,2,889144
2019,1,3,930819
2019,2,NULL,2685579
2019,2,4,903760
2019,2,5,868319
2019,2,6,913500
2019,3,NULL,2750340
2019,3,7,873953
2019,3,8,954387
2019,3,9,922000
2019,4,NULL,2766121
2019,4,10,937034
2019,4,11,861698
2019,4,12,967389

In [12]:
select datepart(year, dt) year,
    datepart(quarter, dt) quarter, 
    -- datepart(month, dt) month, 
    sum(revenue) total
    from daily_sales 
    group by rollup(datepart(year, dt), datepart(quarter, dt), datepart(month, dt))
    having datepart(month, dt) is null
    order by year, quarter

year,quarter,total
NULL,NULL,21620257
2018,NULL,10779009
2018,1,2683932
2018,2,2706863
2018,3,2696377
2018,4,2691837
2019,NULL,10841248
2019,1,2639208
2019,2,2685579
2019,3,2750340
2019,4,2766121

In [13]:
select datepart(year, dt) year, datepart(quarter, dt) quarter, datepart(month, dt) month, sum(revenue) total
    from daily_sales 
    -- group by rollup(datepart(year, dt), datepart(quarter, dt), datepart(month, dt))
    group by grouping sets (
        (datepart(year, dt), datepart(quarter, dt), datepart(month, dt)),
        (datepart(year, dt), datepart(quarter, dt)),
        (datepart(year, dt)),
        ()
    )
    order by year, quarter, month

year,quarter,month,total
NULL,NULL,NULL,21620257
2018,NULL,NULL,10779009
2018,1,NULL,2683932
2018,1,1,918772
2018,1,2,831727
2018,1,3,933433
2018,2,NULL,2706863
2018,2,4,875663
2018,2,5,887544
2018,2,6,943656
2018,3,NULL,2696377
2018,3,7,896094
2018,3,8,884056
2018,3,9,916227
2018,4,NULL,2691837
2018,4,10,864026
2018,4,11,877734
2018,4,12,950077
2019,NULL,NULL,10841248
2019,1,NULL,2639208
2019,1,1,819245
2019,1,2,889144
2019,1,3,930819
2019,2,NULL,2685579
2019,2,4,903760
2019,2,5,868319
2019,2,6,913500
2019,3,NULL,2750340
2019,3,7,873953
2019,3,8,954387
2019,3,9,922000
2019,4,NULL,2766121
2019,4,10,937034
2019,4,11,861698
2019,4,12,967389

In [14]:
select menu, datepart(year, dt) year, datepart(quarter, dt) quarter, datepart(month, dt) month, 
    sum(revenue) total
    from daily_sales 
    group by rollup(menu, datepart(year, dt), datepart(quarter, dt), datepart(month, dt))
    order by menu, year, quarter, month

menu,year,quarter,month,total
NULL,NULL,NULL,NULL,21620257
coffee,NULL,NULL,NULL,12601464
coffee,2018,NULL,NULL,6312978
coffee,2018,1,NULL,1570848
coffee,2018,1,1,521885
coffee,2018,1,2,489741
coffee,2018,1,3,559222
coffee,2018,2,NULL,1560423
coffee,2018,2,4,516407
coffee,2018,2,5,501545
coffee,2018,2,6,542471
coffee,2018,3,NULL,1612060
coffee,2018,3,7,537287
coffee,2018,3,8,525584
coffee,2018,3,9,549189
coffee,2018,4,NULL,1569647
coffee,2018,4,10,504161
coffee,2018,4,11,539423
coffee,2018,4,12,526063
coffee,2019,NULL,NULL,6288486
coffee,2019,1,NULL,1528872
coffee,2019,1,1,474720
coffee,2019,1,2,530733
coffee,2019,1,3,523419
coffee,2019,2,NULL,1547352
coffee,2019,2,4,525330
coffee,2019,2,5,488686
coffee,2019,2,6,533336
coffee,2019,3,NULL,1658964
coffee,2019,3,7,514311
coffee,2019,3,8,580807
coffee,2019,3,9,563846
coffee,2019,4,NULL,1553298
coffee,2019,4,10,545969
coffee,2019,4,11,463664
coffee,2019,4,12,543665
tea,NULL,NULL,NULL,9018793
tea,2018,NULL,NULL,4466031
tea,2018,1,NULL,1113084
tea,2018,1,1,396887
tea,2018,1,2,341986
tea,2018,1,3,374211
tea,2018,2,NULL,1146440
tea,2018,2,4,359256
tea,2018,2,5,385999
tea,2018,2,6,401185
tea,2018,3,NULL,1084317
tea,2018,3,7,358807
tea,2018,3,8,358472
tea,2018,3,9,367038
tea,2018,4,NULL,1122190
tea,2018,4,10,359865
tea,2018,4,11,338311
tea,2018,4,12,424014
tea,2019,NULL,NULL,4552762
tea,2019,1,NULL,1110336
tea,2019,1,1,344525
tea,2019,1,2,358411
tea,2019,1,3,407400
tea,2019,2,NULL,1138227
tea,2019,2,4,378430
tea,2019,2,5,379633
tea,2019,2,6,380164
tea,2019,3,NULL,1091376
tea,2019,3,7,359642
tea,2019,3,8,373580
tea,2019,3,9,358154
tea,2019,4,NULL,1212823
tea,2019,4,10,391065
tea,2019,4,11,398034
tea,2019,4,12,423724

In [15]:
select menu, datepart(year, dt) year, datepart(quarter, dt) quarter, datepart(month, dt) month, 
    sum(revenue) total
    from daily_sales 
    group by menu, rollup(datepart(year, dt), datepart(quarter, dt), datepart(month, dt))
    having datepart(quarter, dt) is null
    order by menu, year, quarter, month

menu,year,quarter,month,total
coffee,NULL,NULL,NULL,12601464
coffee,2018,NULL,NULL,6312978
coffee,2019,NULL,NULL,6288486
tea,NULL,NULL,NULL,9018793
tea,2018,NULL,NULL,4466031
tea,2019,NULL,NULL,4552762

In [16]:
select menu, datepart(year, dt) year, datepart(quarter, dt) quarter, datepart(month, dt) month, 
    sum(revenue) total
    from daily_sales 
    group by rollup(menu, datepart(year, dt), datepart(quarter, dt), datepart(month, dt))
    having datepart(quarter, dt) is null
    order by menu, year, quarter, month

menu,year,quarter,month,total
NULL,NULL,NULL,NULL,21620257
coffee,NULL,NULL,NULL,12601464
coffee,2018,NULL,NULL,6312978
coffee,2019,NULL,NULL,6288486
tea,NULL,NULL,NULL,9018793
tea,2018,NULL,NULL,4466031
tea,2019,NULL,NULL,4552762